#nav{
    position: fixed;
    z-index: 5000;
    bottom: 0;
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 46px;
    border-top: solid 2px #434897;
    @include clearfix;


    a#menuButton{
        display: inline-block;
        border: none;
        background: none;
        width: 40px;
        margin: 10px 5px 10px -10px;
        padding: 0;
        vertical-align: middle;
    

        span{
            position: relative;
            display: block;
            height: 4px;
            width: 100%;
            margin-bottom: 6px;
            background: #fff;
        
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .center{
        position: absolute;
        width: 70%;
        top: 10px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }

    form{
        display: inline-block;
        margin: 0 auto;
        vertical-align: middle;
        position: relative;
        width: 80%;
    
        input[type=text]{
            width: 100%;
            background: rgba(0,0,0,0.2);
            border: none;
            border-radius: 20px;
            padding: 5px 10px;
            margin: 0;
            color: #fff;
            text-align: center;
        }

        input[type=text]::-webkit-input-placeholder { /* WebKit browsers */
            color:    #fff;
        }

        input[type=submit]{
            display: none;
            background: rgba(255,255,255,0.2);
            border: none;
            border-radius: 50px;
            padding: 4px 5px;
            color: #fff;
        }

        input[type=text].search{
            width: 70%;     
        }
        input[type=submit].search{
            display: inline-block;
        }
    }
}

a#takePic{
    position: absolute;
    top: 9px;
    right: 10px;
    text-indent: -99999px;
    width: 33px;
    height: 25px;
    display: inline-block;
    background: url("../img/photo.png") no-repeat;
    background-size: cover;
    vertical-align: middle;

}
#localiseMe{
    position: relative;
    text-indent: -99999px;
    width: 17px;
    height: 25px;
    display: inline-block;
    background: url("../img/localise.png") no-repeat;
    background-size: cover;
    vertical-align: middle;
}

#menu{
    z-index: 5000;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    @include transition-duration(.5s);

    a#menuButtonOn{
        position: absolute;
        display: inline-block;
        bottom: 0px;
        left: 20px;
        border: none;
        background: none;
        width: 30px;
        margin: 10px 5px 10px -10px;
        padding: 0;
        vertical-align: middle;
    

        span{
            position: relative;
            display: block;
            height: 4px;
            width: 100%;
            margin-bottom: 6px;
            background: $darkBlue;
        
            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    ul{
        position: relative;
        top: 35%;
        line-height: 0;
        text-align: center;

        li{

            a{
                font-size: 36px;
                line-height: 1.5;
                color: #fff;
            }
        }
    }
}