.optionSection{
    padding-bottom: 50px;
    .head{
        background: $darkBlue;
        position: relative;
        width: 100%;
        color: #fff;
        padding: 5px 10px;

        h1{
            font-size: 24px;
            display: inline-block;
        }
        input[type=submit]{
            color: #fff;
            position: absolute;
            right: 10px;
            bottom: 8px;
            text-transform: uppercase;
            font-weight: 600;
            text-align: right;
            background: none;
            margin: 0;
            padding: 0;

        }
    }

    h2{
        position: relative;
        background: $midBlue;
        font-size: 14px;
        font-weight: 600;
        padding: 5px 10px;

        span{
            font-size: 12px;
            position: absolute;
            right: 10px;
            bottom: 5px;
        }
    }
    .optionForm{
        text-align: right;
        padding: 10px 10px;
        background: $lowBlue;

        a{
            display: inline-block;
            color: $darkBlue;
            padding: 10px;
            width: 60%;
        }
    }
    label{
        font-size: 14px;
        color: #333;
        margin-right: 10px;
    }
    input, textarea{
        text-align: left;
        width: 60%;
        max-width: 60%;
        vertical-align: middle;
        color: $darkBlue;

        &[type=checkbox]{
            width: initial;
            margin-right: 30px;
        }
    }
    p{
        color: $darkBlue;
        text-align: left;
    }
    #profilPhoto{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        width: 100px;
        height: 100px;
        border: 2px solid $darkBlue;
        border-radius: 50px;
        //background-image: url("../img/maroc.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
        
}