/************************************************************************/
/*	Colors Vars                                                          
/************************************************************************/
$darkBlue: #434897;
$midBlue: #6a72f0;
$blue: #d6d7f0;
$lowBlue: #f4f5f6;

/************************************************************************/
/*	Transition Default
/************************************************************************/
$default-transition-property : all;
$default-transition-duration : .3s;
$default-transition-function : ease;
$default-transition-delay    : false;