/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/************************************************************************/
/*	Colors Vars                                                          
/************************************************************************/
/************************************************************************/
/*	Transition Default
/************************************************************************/
/* line 1, _layout.scss */
body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  line-height: 1;
  background: #f4f5f6;
}

/* line 17, _layout.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 22, _layout.scss */
.clearfix:after {
  clear: both;
}

/* line 26, _layout.scss */
.clearfix {
  *zoom: 1;
}

/* line 30, _layout.scss */
.hidden {
  display: none;
}

/* line 31, _layout.scss */
.overflowHidden {
  overflow: hidden;
}

/* line 32, _layout.scss */
h1, h2, h3 {
  margin: 0;
}

/* line 34, _layout.scss */
h2 {
  font-size: 24px;
}

/* line 37, _layout.scss */
h3 {
  font-size: 18px;
}

/* line 40, _layout.scss */
a {
  text-decoration: none;
  color: #6a72f0;
}

/* line 45, _layout.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 47, _layout.scss */
.left {
  -webkit-transform: translate3D(-100%, 0, 0);
  -moz-transform: translate3D(-100%, 0, 0);
  -ms-transform: translate3D(-100%, 0, 0);
  -o-transform: translate3D(-100%, 0, 0);
  transform: translate3D(-100%, 0, 0);
}

/* line 48, _layout.scss */
.center {
  -webkit-transform: translate3D(0, 0, 0);
  -moz-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  -o-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}

/* line 49, _layout.scss */
.right {
  -webkit-transform: translate3D(100%, 0, 0);
  -moz-transform: translate3D(100%, 0, 0);
  -ms-transform: translate3D(100%, 0, 0);
  -o-transform: translate3D(100%, 0, 0);
  transform: translate3D(100%, 0, 0);
}

/* line 50, _layout.scss */
input {
  color: #434897;
}

/* line 53, _layout.scss */
input[type=text], input[type=password], input[type=email], textarea {
  width: 100%;
  background: white;
  border: none;
  border-radius: 20px;
  padding: 8px 10px;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

/* line 63, _layout.scss */
input[type=submit], .submit {
  width: 100%;
  background: #d6d7f0;
  border: none;
  border-radius: 50px;
  padding: 8px 10px;
  text-align: center;
}

/* line 71, _layout.scss */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #434897;
}

/* line 74, _layout.scss */
input:focus, textarea:focus {
  outline: none !important;
}

/* line 77, _layout.scss */
input[type=file] {
  position: absolute;
  left: -9999px;
}

/* line 81, _layout.scss */
.loader {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6000;
  background: url("../img/loader.gif") no-repeat center center, rgba(0, 0, 0, 0.6);
}

/* line 92, _layout.scss */
.heart {
  width: 22px !important;
  height: 20px !important;
  display: inline-block;
  background: url("../img/heart.png") no-repeat;
  background-size: cover;
}

/* line 100, _layout.scss */
.leftSwipe {
  position: absolute;
  width: 10%;
  height: 100%;
}

/* line 107, _layout.scss */
section.view {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #f4f5f6;
}

/* line 1, _nav.scss */
#nav {
  position: fixed;
  z-index: 5000;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 46px;
  border-top: solid 2px #434897;
  overflow: hidden;
  *zoom: 1;
}
/* line 12, _nav.scss */
#nav a#menuButton {
  display: inline-block;
  border: none;
  background: none;
  width: 40px;
  margin: 10px 5px 10px -10px;
  padding: 0;
  vertical-align: middle;
}
/* line 22, _nav.scss */
#nav a#menuButton span {
  position: relative;
  display: block;
  height: 4px;
  width: 100%;
  margin-bottom: 6px;
  background: #fff;
}
/* line 30, _nav.scss */
#nav a#menuButton span:last-child {
  margin-bottom: 0;
}
/* line 35, _nav.scss */
#nav .center {
  position: absolute;
  width: 70%;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
/* line 45, _nav.scss */
#nav form {
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;
  position: relative;
  width: 80%;
}
/* line 52, _nav.scss */
#nav form input[type=text] {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 0;
  color: #fff;
  text-align: center;
}
/* line 63, _nav.scss */
#nav form input[type=text]::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff;
}
/* line 67, _nav.scss */
#nav form input[type=submit] {
  display: none;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50px;
  padding: 4px 5px;
  color: #fff;
}
/* line 76, _nav.scss */
#nav form input[type=text].search {
  width: 70%;
}
/* line 79, _nav.scss */
#nav form input[type=submit].search {
  display: inline-block;
}

/* line 85, _nav.scss */
a#takePic {
  position: absolute;
  top: 9px;
  right: 10px;
  text-indent: -99999px;
  width: 33px;
  height: 25px;
  display: inline-block;
  background: url("../img/photo.png") no-repeat;
  background-size: cover;
  vertical-align: middle;
}

/* line 98, _nav.scss */
#localiseMe {
  position: relative;
  text-indent: -99999px;
  width: 17px;
  height: 25px;
  display: inline-block;
  background: url("../img/localise.png") no-repeat;
  background-size: cover;
  vertical-align: middle;
}

/* line 109, _nav.scss */
#menu {
  z-index: 5000;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 117, _nav.scss */
#menu a#menuButtonOn {
  position: absolute;
  display: inline-block;
  bottom: 0px;
  left: 20px;
  border: none;
  background: none;
  width: 30px;
  margin: 10px 5px 10px -10px;
  padding: 0;
  vertical-align: middle;
}
/* line 130, _nav.scss */
#menu a#menuButtonOn span {
  position: relative;
  display: block;
  height: 4px;
  width: 100%;
  margin-bottom: 6px;
  background: #434897;
}
/* line 138, _nav.scss */
#menu a#menuButtonOn span:last-child {
  margin-bottom: 0;
}
/* line 144, _nav.scss */
#menu ul {
  position: relative;
  top: 35%;
  line-height: 0;
  text-align: center;
}
/* line 152, _nav.scss */
#menu ul li a {
  font-size: 36px;
  line-height: 1.5;
  color: #fff;
}

/************************************************************************/
/*  connexion
/************************************************************************/
/* line 4, _connexion.scss */
#connexion {
  -webkit-overflow-scrolling: touch;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #f4f5f6;
}
/* line 11, _connexion.scss */
#connexion .pics {
  position: relative;
  max-height: 50%;
}
/* line 15, _connexion.scss */
#connexion .pics h2, #connexion .pics h3 {
  display: block;
  margin: 0;
}
/* line 19, _connexion.scss */
#connexion .pics h2 {
  padding-top: 10px;
  padding-left: 10px;
}
/* line 23, _connexion.scss */
#connexion .pics h3 {
  text-align: right;
  margin-right: 10px;
  margin-top: -20px;
}
/* line 30, _connexion.scss */
#connexion .onglet {
  position: relative;
  height: 65px;
  margin-top: -62px;
}
/* line 35, _connexion.scss */
#connexion .onglet span {
  background: #6a72f0;
  padding: 10px 30px;
  position: absolute;
  bottom: 0;
  font-size: 18px;
}
/* line 42, _connexion.scss */
#connexion .onglet span:first-child {
  border-top-right-radius: 15px;
  left: 0;
}
/* line 46, _connexion.scss */
#connexion .onglet span:nth-child(2) {
  border-top-left-radius: 15px;
  right: 0;
}
/* line 51, _connexion.scss */
#connexion .onglet .line {
  background: #434897;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
}
/* line 61, _connexion.scss */
#connexion .form {
  position: relative;
  bottom: 0;
  width: 100%;
  color: #434897;
}
/* line 67, _connexion.scss */
#connexion .form h4 {
  color: #434897;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  margin: 20px 0px 30px 0px;
}
/* line 75, _connexion.scss */
#connexion .form label {
  display: block;
  text-align: center;
}
/* line 79, _connexion.scss */
#connexion .form input {
  width: 60%;
}
/* line 82, _connexion.scss */
#connexion .form input[type=text] {
  background: #fff;
}
/* line 85, _connexion.scss */
#connexion .form p {
  text-align: center;
  margin-top: 20px;
  padding: 0px 50px;
  line-height: 1.3;
}

/* line 1, _home.scss */
.picsFixe {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 10, _home.scss */
.picsContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 19, _home.scss */
.pics {
  position: relative;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/maroc.jpg");
  background-position: center;
  background-size: cover;
}
/* line 29, _home.scss */
.pics .picsInfo {
  padding-bottom: 20px;
  position: absolute;
  top: 0px;
  width: 100%;
}
/* line 44, _home.scss */
.pics .comment {
  position: relative;
  width: 100%;
  margin: 0;
  line-height: 1.3;
  font-weight: 600;
}
/* line 51, _home.scss */
.pics .comment, .pics h2, .pics h3 {
  padding: 5px 10px;
  text-shadow: -1px 1px 3px #000;
}
/* line 55, _home.scss */
.pics h2 {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 10px;
}
/* line 60, _home.scss */
.pics h2 span {
  font-size: 16px;
  white-space: nowrap;
}
/* line 65, _home.scss */
.pics h3 {
  text-align: right;
  font-size: 16px;
}
/* line 69, _home.scss */
.pics .likes {
  display: inline-block;
  position: absolute;
  left: 10px;
  margin-top: 5px;
}
/* line 75, _home.scss */
.pics .likes span {
  vertical-align: middle;
  text-shadow: 0px 0px 1px #000;
}

/* line 2, _tutoriel.scss */
.tutoriel {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
/* line 12, _tutoriel.scss */
.tutoriel p {
  font-weight: 700;
  font-size: 1.5em;
  color: #d6d7f0;
  width: 60%;
}
/* line 18, _tutoriel.scss */
.tutoriel .tutoFav {
  position: absolute;
  left: 20px;
  top: 42%;
  text-align: left;
}
/* line 24, _tutoriel.scss */
.tutoriel .tutoFav:after {
  content: "";
  position: absolute;
  bottom: 110%;
  left: 0px;
  width: 50px;
  height: 100px;
  background: url("../img/arrow.png") no-repeat;
  background-size: cover;
  -webkit-transform: rotateZ(170deg);
  -moz-transform: rotateZ(170deg);
  -ms-transform: rotateZ(170deg);
  -o-transform: rotateZ(170deg);
  transform: rotateZ(170deg);
}
/* line 36, _tutoriel.scss */
.tutoriel .tutoPhoto {
  position: absolute;
  right: 20px;
  bottom: 200px;
  text-align: right;
}
/* line 42, _tutoriel.scss */
.tutoriel .tutoPhoto:after {
  content: "";
  position: absolute;
  top: 110%;
  right: 0px;
  width: 50px;
  height: 130px;
  background: url("../img/arrow.png") no-repeat;
  background-size: 100% 100%;
  -webkit-transform: rotateZ(-10deg);
  -moz-transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  -o-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg);
}
/* line 54, _tutoriel.scss */
.tutoriel .tutoSearch {
  position: absolute;
  left: 40px;
  bottom: 110px;
}
/* line 59, _tutoriel.scss */
.tutoriel .tutoSearch:after {
  content: "";
  position: absolute;
  top: 110%;
  left: 55%;
  width: 25px;
  height: 50px;
  background: url("../img/arrow.png") no-repeat;
  background-size: cover;
  -webkit-transform: rotateZ(-5deg);
  -moz-transform: rotateZ(-5deg);
  -ms-transform: rotateZ(-5deg);
  -o-transform: rotateZ(-5deg);
  transform: rotateZ(-5deg);
}

/* line 3, _profil.scss */
#profilPage .profilNav {
  position: absolute;
  width: 100%;
  bottom: 46px;
  background: #434897;
}
/* line 9, _profil.scss */
#profilPage .profilNav span {
  position: relative;
  display: inline-block;
  width: 33.333333333%;
  height: 32px;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}
/* line 18, _profil.scss */
#profilPage .profilNav span .heart {
  margin-top: -3px;
}
/* line 23, _profil.scss */
#profilPage .profilNav .active {
  background: #6a72f0;
}
/* line 28, _profil.scss */
#profilPage .profil {
  text-align: center;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 31, _profil.scss */
#profilPage .profil #profilPhoto {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border: 2px solid #434897;
  border-radius: 100px;
  background-image: url("../img/maroc.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
/* line 45, _profil.scss */
#profilPage .profil h1 {
  color: #434897;
  font-size: 36px;
  margin-top: 20px;
}
/* line 50, _profil.scss */
#profilPage .profil .place {
  position: relative;
  display: inline-block;
  color: #434897;
  font-size: 18px;
  margin-top: 20px;
}
/* line 57, _profil.scss */
#profilPage .profil .place:before {
  content: "";
  position: absolute;
  left: -25px;
  top: -2px;
  width: 16px;
  height: 23px;
  display: inline-block;
  background: url("../img/localise_blue.png") no-repeat;
  background-size: cover;
}
/* line 69, _profil.scss */
#profilPage .profil .description {
  color: #434897;
  font-size: 16px;
  margin-top: 40px;
}
/* line 75, _profil.scss */
#profilPage .myPics {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 80, _profil.scss */
#profilPage .myFav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 1, _addpic.scss */
#addPic {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
}
/* line 10, _addpic.scss */
#addPic form {
  padding: 20px;
}
/* line 13, _addpic.scss */
#addPic form input, #addPic form textarea {
  text-align: left;
  background: rgba(0, 0, 0, 0.3);
  color: #f4f5f6;
  font-weight: 600;
}
/* line 19, _addpic.scss */
#addPic form input[type=submit] {
  background: rgba(67, 72, 151, 0.3);
  color: #fff;
  text-align: center;
}
/* line 24, _addpic.scss */
#addPic form textarea {
  height: 80px;
}
/* line 27, _addpic.scss */
#addPic form ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #f4f5f6;
}

/* line 1, _preference.scss */
.optionSection {
  padding-bottom: 50px;
}
/* line 3, _preference.scss */
.optionSection .head {
  background: #434897;
  position: relative;
  width: 100%;
  color: #fff;
  padding: 5px 10px;
}
/* line 10, _preference.scss */
.optionSection .head h1 {
  font-size: 24px;
  display: inline-block;
}
/* line 14, _preference.scss */
.optionSection .head input[type=submit] {
  color: #fff;
  position: absolute;
  right: 10px;
  bottom: 8px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: right;
  background: none;
  margin: 0;
  padding: 0;
}
/* line 29, _preference.scss */
.optionSection h2 {
  position: relative;
  background: #6a72f0;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
}
/* line 36, _preference.scss */
.optionSection h2 span {
  font-size: 12px;
  position: absolute;
  right: 10px;
  bottom: 5px;
}
/* line 43, _preference.scss */
.optionSection .optionForm {
  text-align: right;
  padding: 10px 10px;
  background: #f4f5f6;
}
/* line 48, _preference.scss */
.optionSection .optionForm a {
  display: inline-block;
  color: #434897;
  padding: 10px;
  width: 60%;
}
/* line 55, _preference.scss */
.optionSection label {
  font-size: 14px;
  color: #333;
  margin-right: 10px;
}
/* line 60, _preference.scss */
.optionSection input, .optionSection textarea {
  text-align: left;
  width: 60%;
  max-width: 60%;
  vertical-align: middle;
  color: #434897;
}
/* line 67, _preference.scss */
.optionSection input[type=checkbox], .optionSection textarea[type=checkbox] {
  width: initial;
  margin-right: 30px;
}
/* line 72, _preference.scss */
.optionSection p {
  color: #434897;
  text-align: left;
}
/* line 76, _preference.scss */
.optionSection #profilPhoto {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  width: 100px;
  height: 100px;
  border: 2px solid #434897;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
