<!--
<div class="pics" style="background-image: url('data:image/jpeg;base64,{{options.pic}}')">
	<p class="comment">{{options.comment}}</p>
	<h2>{{options.country}}</h2>
	<h3>{{options.place}}</h3>
	<div class="likes">
		<span>{{options.like}}</span>
		<span class="heart"></span>
	</div>
</div>
-->

<div class="pics" style="background-image: url({{pic}})">
	<p class="comment">{{comment}}</p>
	<h2>{{country}}</h2>
	<h3>{{place}}</h3>
	<div class="likes">
		<span>{{like}}</span>
		<span class="heart"></span>
	</div>
</div>