
<div class="picsFixe">
	<div class="picsContainer" style="-webkit-transform: translate3d(0, {{picsContainerPos}}%, 0)" hm-swipeup="nextPic()" hm-swipedown="prevPic()" hm-options="{swipeVelocityY: 0.1, prevent_default: true}">
		<div class="pics">
			<p class="comment">Si vous passez près de meknes, allez voir l’ancienne cité romaine volubilis, ça vaut le coup d’oeil ! Il y a une petite surprise haha</p>
			<h2>Maroc</h2>
			<h3>Volubilis</h3>
			<div class="likes">
				<span>234</span>
				<span class="heart"></span>
			</div>
		</div>
		<div class="pics">
			<p class="comment">cité romaine volubilis, ça vaut le coup d’oeil ! Il y a une petite surprise haha</p>
			<h2>Maroc</h2>
			<h3>LOOOL</h3>
			<div class="likes">
				<span>234</span>
				<span class="heart"></span>
			</div>
		</div>
	</div>
</div>
<div class="tutoriel">
    <p class="tutoFav">{{lang["Add this picture to your favorites"]}}</p>
    <p class="tutoPhoto">{{lang["Take a picture and share your experience"]}}</p>
    <p class="tutoSearch">{{lang["Look what is around you"]}}</p>
</div>