<div id="test30" style="background-image: url(http://pictrip.me/img/picture/7.jpg)"></div>


<div class="pics" style="background-image: url(http://pictrip.me/img/picture/8.jpg)" hm-swipeup="nextPic()" hm-swipedown="prevPic()" hm-options="{swipeVelocityY: 0.1, prevent_default: true}">
	<p id="test" style="word-wrap:break-word;">test</p>
	<img src="http://pictrip.me/img/picture/3.jpg">
</div>

<div id ="test" style="position: absolute; top:0;left:0;right:0;bottom:0;width:100%;height:100%;background-size:cover;background-image:url(img/maroc.jpg);">

</div>